@using ByteCarrot.Masslog.Web.Views.Infrastructure
@model ByteCarrot.Masslog.Web.Controllers.Applications.AddViewModel

<form class="form-horizontal" action="">
    <h2 class="page">Add Application</h2>
    @Html.TbTextBoxFor(x => x.Name)

    <div class="form-actions">
        <button class="btn" data-jo='{"action":"post","url":"@Url.Action(MVC.Application.ActionNames.Add)","target":"#container","form":"#container > form"}'><i class="icon-plus"></i>&nbsp;Add</button>
        <button class="btn btn-danger" data-jo='{"action":"get","url":"@Url.Action(MVC.Application.ActionNames.List)","target":"#container","confirm":"Are you sure? All data in the form will be lost."}'>Cancel</button>
    </div>
</form>